.foto {
    margin-top: 75px;
    margin-bottom: 25px;
}



.gallery {
            display: flex;
            justify-content: space-around;
            max-width: 1000px;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 20px;
        }
        .thumb {
            width: 450px;
            height: auto;
            object-fit: cover;
            cursor: pointer;
            border: 2px solid #ddd;
            margin-bottom: 30px;
        }
        .thumb:hover {
            border-color: #555;
        }

        /* Стили для слайдера (изначально скрыт) */
        .slider-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            z-index: 1000;
            justify-content: center;
            align-items: center;
        }
        .slider-container {
            max-width: 80%;
            position: relative;
        }
        .slider-img {
            width: 1400px;  /* Фиксированная ширина */
            height: auto;  /* Высота подстроится */
        }
        .close-btn, .prev-btn, .next-btn {
            position: absolute;
            color: white;
            font-size: 2rem;
            cursor: pointer;
            user-select: none;
        }
        .close-btn {
            top: -40px;
            right: 0;
        }
        .prev-btn {
            left: -50px;
            top: 50%;
        }
        .next-btn {
            right: -50px;
            top: 50%;
        }


        @media (max-width: 1199px) {

            .thumb {
            width: 400px;
        }
        }

        @media (max-width: 991px) {

            .foto {
                margin-top: 65px;
            }

            .thumb {
              width: 350px;
        }
        }

        @media (max-width: 849px) {

            .thumb {
            width: 300px;
        }
        }

        @media (max-width: 749px) {

            .thumb {
            width: 280px;
        }
        }

        @media (max-width: 649px) {

            .thumb {
            width: 240px;
        }
        }

        @media (max-width: 575px) {

            .foto {
                margin-top: 55px;
            }

            .thumb {
              width: 190px;
              margin-bottom: 15px;
        }
        }

        @media (max-width: 450px) {

            .thumb {
            width: 300px;
        }

        .prev-btn {
            left: -25px;
        }
        .next-btn {
            right: -25px;
        }
        }



